<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle de Personas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Lista de Personas</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Curp</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="persona : ${personas}">
            <td th:text="${persona.cnombre}"></td>
            <td th:text="${persona.cCURP}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}" class="btn btn-primary mt-3">Volver</a>
</div>
</body>
</html>
